In [1]:
#!pip install selenium

In [1]:
# importing necessary libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import time
import re
import requests
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

# 1. Taking user input and feed it in the search field

In [2]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

In [3]:
# getting the url
url = 'https://www.amazon.in/'
driver.get(url)

In [4]:
# taking input from user
search = input("Enter a product :")

Enter a product :GUITAR

In [5]:
# give user input to the search field
search_bar = driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
search_bar.send_keys(search)

In [6]:
# clik search icon
icon = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
icon.click()

# 2. Product details of the searched item in Q.1
### a) Brand url

In [7]:
brand_name_url = []
for page in range(0,3):
    url = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
        brand_name_url.append(i.get_attribute('href'))
    next_button = driver.find_elements(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')

In [8]:
len(brand_name_url)

192

### b) Brand names

In [43]:
from selenium.common.exceptions import NoSuchElementException

brand_names = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(5)
    try:
        bn = driver.find_element(By.XPATH,'//td[@class="a-span9"]')
        brand_names.append(bn.text)
    except NoSuchElementException:
        brand_names.append("-")

In [104]:
len(brand_names)

192

### c) Name of the product

In [48]:
product_names = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(5)
    try:
        pn = driver.find_element(By.ID,'productTitle')
        product_names.append(pn.text)
    except NoSuchElementException:
        product_names.append("-")

In [49]:
len(product_names)

192

### d) Price

In [95]:
price = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(5)
    try:
        pr = driver.find_element(By.XPATH,'//span[@class="a-price-whole"]')
        price.append(pr.text)
    except NoSuchElementException:
        price.append("-")

In [97]:
len(price)

192

### e) Exchange/Return

In [78]:
ex_ret = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(5)
    try:
        ex = driver.find_element(By.XPATH,'//*[@id="RETURNS_POLICY"]/span/div[2]/a')
        ex_ret.append(ex.text)
    except NoSuchElementException:
        ex_ret.append('-')

In [80]:
len(ex_ret)

192

### f) Expected delivery

In [59]:
delivery = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(5)
    try:
        del_ = driver.find_element(By.XPATH,'//span[@class="a-text-bold"]')
        delivery.append(del_.text)
    except NoSuchElementException:
        delivery.append('-')

In [60]:
len(delivery)

192

### g) Availability

In [32]:
availability = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(5)
    try:
        av = driver.find_element(By.ID,'availabilityInsideBuyBox_feature_div')
        availability.append(av.text)
    except NoSuchElementException:
        availability.append('-')

In [61]:
len(availability)

192

### DataFrame for guitar details

In [98]:
df = pd.DataFrame()
df['Brand name'] = brand_names
df['Name of the product'] = product_names
df['Price'] = price
df['Return/Exchange'] = ex_ret
df['Expected delivery'] = delivery
df['Availability'] = availability
df['Product url'] = brand_name_url
df

,Brand name,Name of the product,Price,Return/Exchange,Expected delivery,Availability,Product url
0,Kadence,"Kadence Frontier Series, Acoustic Guitar With/...","5,299",7 Days Replacement,"Saturday, 6 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
1,Medellin,"Medellin 38"" Acoustic Guitar Carbon Fiber body...","2,499",7 Days Replacement,"Wednesday, 10 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
2,Kadence,Kadence Frontier Jumbo Semi Acoustic Guitar Wi...,"7,348",7 Days Replacement,"Wednesday, 10 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
3,Blueberry,"Blueberry 38C, 38"" Acoustic Guitar Kit with Ba...","5,700",7 Days Replacement,"Tuesday, 9 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
4,Intern,"Intern INT-38C Acoustic Guitar Kit, With Bag, ...","2,310",7 Days Replacement,"Saturday, 6 August",In stock.,https://www.amazon.in/Intern-INT-38C-Acoustic-...
...,...,...,...,...,...,...,...
187,KETOSTICS,Ketostics Givson Venus Special Cutaway Rosewoo...,"2,499",7 Days Replacement,"Monday, 8 August",In stock.,https://www.amazon.in/Medellin-Acoustic-specai...
188,Blueberry,"Blueberry B40L, 40"" Acoustic Guitar Kit Inbuil...",999,7 Days Returnable,"Tuesday, 9 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
189,Blueberry,"Blueberry B-D38 38"" Acoustic Guitar Kit Inbuil...","1,549",7 Days Returnable,"Tuesday, 9 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
190,Multicolor,Toy House™ Classical Guitar Children's Musical...,"7,400",7 Days Replacement,"Wednesday, 10 August",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
191,Gum-Tea,"Acoustic Guitar, 39 Inch Cutaway, 039C with Ba...","14,725",7 Days Replacement,August 6 - 9,In stock.,https://www.amazon.in/gp/slredirect/picassoRed...

### Saving file as csv

In [82]:
df.to_csv('1.guitar_details.csv')

In [ ]:
driver.close()

# 3. Scraping 10 images each for items from google images

### Taking user input to download images for any input items
- At the last line of the code, we need to close the driver so that we can use the same code to scrape images for other items.
- The tags, class and xpaths of different items are same

In [42]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://images.google.com/'
driver.get(url)

# keyword input and press enter
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
def name():
    search.send_keys(input('Enter any item :'))

In [43]:
# Calling the function
name()

Enter any item :cakes

In [44]:
icon = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
icon.click()

In [45]:
# getting the src links
source = []
elements = driver.find_elements(By.XPATH,'//div[@class="bRMDJf islir"]')
for i in elements:
    images = driver.find_element(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
    image = images.get_attribute('src')
    source.append(image)

# We need to scroll down so that we get more images
for _ in range(20):
    driver.execute_script("window.scrollBy(0,1000)")
images = driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')

img_urls = []
img_data = []

# appending image links to an empty list
for image in images:
    source= image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)

# downloading images and saving it to a specified path
for i in range(len(img_urls)):
    if i > 10: # since need only 10 images
        break
    print('Downloading {0} of {1} images'.format(i,10))
    response = requests.get(img_urls[i])
    file = open(r"C:\Users\HP\Documents\DataTrained\Intern Assignments" + str(i) + ".jpg", "wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [46]:
driver.close()

# 4. Smartphone details from flipkart

In [43]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'http://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

# enter smartphone on search bar
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('smartphone')

In [44]:
# click search icon
icon = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
icon.click()

### Getting the url for each item

In [45]:
urls = []
url = driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in url:
    urls.append(i.get_attribute('href'))

In [46]:
len(urls)

24

### a) Brand name

In [114]:
from selenium.common.exceptions import NoSuchElementException

brand_names = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        bn = driver.find_element(By.XPATH,'//span[@class="B_NuCI"]')
        brand_names.append(bn.text.split())
    except NoSuchElementException:
        brand_names.append("-")

In [115]:
brand_name = []
for i in brand_names:
    brand_name.append(i[0])
len(brand_name)

24

### b) Smartphone name

In [116]:
phone_name = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        pn = driver.find_element(By.XPATH,'//span[@class="B_NuCI"]')
        phone_name.append(pn.text.split(' ('))
    except NoSuchElementException:
        phone_name.append("-")

In [117]:
phone_names = []
for i in phone_name:
    phone_names.append(i[0])
len(phone_names)

24

### c) Colour

In [118]:
colour = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        cl = driver.find_element(By.XPATH,'//*[@class="_14cfVK"]/tbody/tr[4]/td/ul/li')
        colour.append(cl.text)
    except NoSuchElementException:
        colour.append("-")

In [119]:
len(colour)

24

### d) RAM

In [47]:
ram = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        ram_ = driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul/li')
        ram.append(ram_.text.split('|'))
    except NoSuchElementException:
        ram.append("-")

In [76]:
Ram = []
for j in range(0,24):
    Ram.append(ram[j][0])

In [78]:
len(Ram)

24

### e) ROM

In [86]:
Rom = []
for j in range(0,24):
    Rom.append(ram[j][1].strip(" "))

In [88]:
len(Rom)

24

### f) Primary camera

In [89]:
pri_cam = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        pc = driver.find_element(By.XPATH,'//*[@class="_2418kt"]/ul/li[3]')
        pri_cam.append(pc.text.split('|'))
    except NoSuchElementException:
        pri_cam.append("-")

In [93]:
pri_camera = []
for j in range(0,24):
    pri_camera.append(pri_cam[j][0].strip(" "))

In [95]:
len(pri_camera)

24

### g) Secondary Camera

In [96]:
sec_camera = []
for j in range(0,24):
    sec_camera.append(pri_cam[j][1].strip(" "))

In [98]:
len(sec_camera)

24

### h) Display size

In [101]:
display = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        dis = driver.find_element(By.XPATH,'//div[@class="_2418kt"]/ul/li[2]')
        display.append(dis.text)
    except NoSuchElementException:
        display.append("-")

In [104]:
len(display)

24

### i) Battery capacity

In [107]:
battery = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        bat = driver.find_element(By.XPATH,'//div[@class="_2418kt"]/ul/li[4]')
        battery.append(bat.text)
    except NoSuchElementException:
        battery.append("-")

In [109]:
len(battery)

24

### j) Price

In [110]:
price = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        pc = driver.find_element(By.XPATH,'//div[@class="_30jeq3 _16Jk6d"]')
        price.append(pc.text)
    except NoSuchElementException:
        price.append("-")

In [112]:
len(price)

24

### Dataframe for phone

In [121]:
df = pd.DataFrame()
df['Brand name'] = brand_name
df['Smartphone name'] = phone_name
df['Colour'] = colour
df['RAM'] = Ram
df['Storage(ROM)'] = Rom
df['Primary Camera'] = pri_camera
df['Secondary Camera'] = sec_camera
df['Display size'] = display
df['Battery capacity'] = battery
df['Price'] = price
df['Product url'] = urls
df

,Brand name,Smartphone name,Colour,RAM,Storage(ROM),Primary Camera,Secondary Camera,Display size,Battery capacity,Price,Product url
0,Infinix,"[Infinix HOT 12 Play, Horizon Blue, 64 GB) , 4...",Horizon Blue,4 GB RAM,64 GB ROM,13MP + Depth Lens,8MP Front Camera,17.32 cm (6.82 inch) HD+ Display,6000 mAh Li-ion Polymer Battery,"₹8,999",https://www.flipkart.com/infinix-hot-12-play-h...
1,realme,"[realme C11 2021, Cool Grey, 32 GB) , 2 GB RAM)]",Cool Grey,2 GB RAM,32 GB ROM,8MP Rear Camera,5MP Front Camera,16.51 cm (6.5 inch) HD+ Display,5000 mAh Battery,"₹7,499",https://www.flipkart.com/realme-c11-2021-cool-...
2,realme,"[realme C11 2021, Cool Blue, 32 GB) , 2 GB RAM)]",Cool Blue,2 GB RAM,32 GB ROM,8MP Rear Camera,5MP Front Camera,16.51 cm (6.5 inch) HD+ Display,5000 mAh Battery,"₹7,499",https://www.flipkart.com/realme-c11-2021-cool-...
3,I,"[I Kall Z3, Emerald Green, 64 GB) , 4 GB RAM)]",Emerald Green,4 GB RAM,64 GB ROM,16MP Rear Camera,13MP Front Camera,15.9 cm (6.26 inch) Display,4000 mAh Battery,"₹6,999",https://www.flipkart.com/kall-z3-emerald-green...
4,REDMI,"[REDMI 9i Sport, Coral Green, 64 GB) , 4 GB RAM)]",Coral Green,4 GB RAM,64 GB ROM,13MP Rear Camera,5MP Front Camera,16.59 cm (6.53 inch) HD+ Display,5000 mAh Li-Polymer Battery,"₹8,799",https://www.flipkart.com/redmi-9i-sport-coral-...
5,SAMSUNG,"[SAMSUNG Galaxy F22, Denim Blue, 64 GB) , 4 GB...",Denim Blue,4 GB RAM,64 GB ROM,48MP + 8MP + 2MP + 2MP,13MP Front Camera,16.26 cm (6.4 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹10,499",https://www.flipkart.com/samsung-galaxy-f22-de...
6,SAMSUNG,"[SAMSUNG Galaxy F22, Denim Black, 64 GB) , 4 G...",Denim Black,4 GB RAM,64 GB ROM,48MP + 8MP + 2MP + 2MP,13MP Front Camera,16.26 cm (6.4 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹10,499",https://www.flipkart.com/samsung-galaxy-f22-de...
7,I,"[I Kall Z5, Pink, 16 GB) , 3 GB RAM)]",Pink,3 GB RAM,16 GB ROM,8MP Rear Camera,5MP Front Camera,13.84 cm (5.45 inch) Display,3000 mAh Battery,"₹4,699",https://www.flipkart.com/kall-z5-pink-16-gb/p/...
8,realme,"[realme C11 2021, Cool Grey, 64 GB) , 4 GB RAM)]",Cool Grey,4 GB RAM,64 GB ROM,8MP Rear Camera,5MP Front Camera,16.51 cm (6.5 inch) HD+ Display,5000 mAh Battery,"₹8,999",https://www.flipkart.com/realme-c11-2021-cool-...
9,realme,"[realme C31, Dark Green, 32 GB) , 3 GB RAM)]",Dark Green,3 GB RAM,32 GB ROM,13MP + 2MP + 0.3MP,5MP Front Camera,16.56 cm (6.52 inch) HD Display,5000 mAh Battery,"₹9,299",https://www.flipkart.com/realme-c31-dark-green...
10,Infinix,"[Infinix HOT 12 Play, Racing Black, 64 GB) , 4...",Racing Black,4 GB RAM,64 GB ROM,13MP + Depth Lens,8MP Front Camera,17.32 cm (6.82 inch) HD+ Display,6000 mAh Li-ion Polymer Battery,"₹8,999",https://www.flipkart.com/infinix-hot-12-play-r...
11,I,"[I Kall Z10, SKY BLUE, 64 GB) , 4 GB RAM)]",SKY BLUE,4 GB RAM,64 GB ROM,20MP Rear Camera,13MP Front Camera,16.59 cm (6.53 inch) Display,5000 mAh Battery,"₹7,999",https://www.flipkart.com/kall-z10-sky-blue-64-...
12,Infinix,"[Infinix HOT 12 Play, Daylight Green, 64 GB) ,...",Daylight Green,4 GB RAM,64 GB ROM,13MP + Depth Lens,8MP Front Camera,17.32 cm (6.82 inch) HD+ Display,6000 mAh Li-ion Polymer Battery,"₹8,999",https://www.flipkart.com/infinix-hot-12-play-d...
13,OPPO,"[OPPO Reno8 5G, Shimmer Black, 128 GB) , 8 GB ...",Shimmer Black,8 GB RAM,128 GB ROM,50MP + 8MP + 2MP,32MP Front Camera,16.33 cm (6.43 inch) Full HD Display,4500 mAh Lithium-ion Polymer Battery,"₹29,999",https://www.flipkart.com/oppo-reno8-5g-shimmer...
14,POCO,"[POCO C31, Royal Blue, 64 GB) , 4 GB RAM)]",Royal Blue,4 GB RAM,64 GB ROM,13MP + 2MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch) HD+ Display,5000 mAh Lithium-ion Polymer Battery,"₹9,999",https://www.flipkart.com/poco-c31-royal-blue-6...
15,I,"[I Kall Z6 Premium, Dark Blue, 64 GB) , 4 GB R...",Dark Blue,4 GB RAM,64 GB ROM,16MP Rear Camera,13MP Front Camera,15.9 cm (6.26 inch) Display,4000 mAh Battery,"₹7,499",https://www.flipkart.com/kall-z6-premium-dark-...
16,realme,"[realme C21, Cross Blue, 32 GB) , 3 GB RAM)]",Cross Blue,3 GB RAM,32 GB ROM,13MP + 2MP + 2MP,5MP Front Camera,16.51 cm (6.5 inch) HD+ Display,5000 mAh Battery,"₹9,499",https://www.flipkart.com/realme-c21-cross-blue...
17,vivo,"[vivo T1 44W, Ice Dawn, 128 GB) , 4 GB RAM)]",Ice Dawn,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,16MP Front Camera,16.36 cm (6.44 inch) Full HD+ AMOLED Display,5000 mAh Lithium Battery,"₹14,499",https://www.flipkart.com/vivo-t1-44w-ice-dawn-...
18,vivo,"[vivo T1 44W, Midnight Galaxy, 128 GB) , 4 GB ...",Midnight Galaxy,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,16MP Front Camera,16.36 cm (6.44 inch) Full HD+ AMOLED Display,5000 mAh Lithium Battery,"₹14,499",https://www.flipkart.com/vivo-t1-44w-midnight-...
19,I,"[I Kall K570, Sapphire Blue, 64 GB) , 4 GB RAM)]",Sapphire Blue,4 GB RAM,64 GB ROM,20MP Rear Camera,13MP Front Camera,16.59 cm (6.53 inch) Display,5000 mAh Battery,"₹7,999",https://www.flipkart.com/kall-k570-sapphire-bl...
20,vivo,"[vivo T1 44W, Starry Sky, 128 GB) , 4 GB RAM)]",Starry Sky,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,16MP Front Camera,16.36 cm (6.44 inch) Full HD+ AMOLED Display,5000 mAh Lithium Battery,"₹14,499",https://www.flipkart.com/vivo-t1-44w-starry-sk...
21,realme,"[realme C31, Dark Green, 64 GB) , 4 GB RAM)]",Dark Green,4 GB RAM,64 GB ROM,13MP + 2MP + 0.3MP,5MP Front Camera,16.56 cm (6.52 inch) HD Display,5000 mAh Battery,"₹9,999",https://www.flipkart.com/realme-c31-dark-green...
22,realme,"[realme C11 2021, Cool Blue, 64 GB) , 4 GB RAM)]",Cool Blue,4 GB RAM,64 GB ROM,8MP Rear Camera,5MP Front Camera,16.51 cm (6.5 inch) HD+ Display,5000 mAh Battery,"₹8,999",https://www.flipkart.com/realme-c11-2021-cool-...
23,I,"[I Kall K525 Premium, SKY BLUE, 64 GB) , 4 GB ...",SKY BLUE,4 GB RAM,64 GB ROM,16MP Rear Camera,13MP Front Camera,15.9 cm (6.26 inch) Display,4000 mAh Battery,"₹7,499",https://www.flipkart.com/kall-k525-premium-sky...

In [122]:
df.to_csv('phone_details.csv')

In [123]:
driver.close()

# 5. Coordinates of a city from google maps

In [67]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

In [223]:
# getting the url
url = 'https://www.google.com/maps/@23.7274368,92.72822,15z'
driver.get(url)

In [224]:
# search for a city
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]')
search.send_keys('aizawl')

In [225]:
# clicking the search icon
icon = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button')
icon.click()

In [226]:
# getting the page url
url = driver.current_url

# extracting only coordinates
url = url.split('@')
latitude = url[1].split(',')[0]
longitude = url[1].split(',')[1]

In [227]:
# joining the elements in the data since we want only one number each
latitudes = ''.join(latitude)
latitudes = latitudes.split('None')   # converting string into list having only one element

# joining the elements in the data since we want only one number each
longitudes = ''.join(longitude)
longitudes = longitudes.split('None') # converting string into list having only one element

In [228]:
df = pd.DataFrame()
df['Latitude'] = latitudes
df['Longitude'] = longitudes
df = df.T
df.columns = ['Aizawl']
df

               Aizawl
Latitude   23.7274368
Longitude    92.72822

In [25]:
# saving as csv file
df.to_csv('Aizawl_coordinates.csv')

In [ ]:
driver.close()

# 6. Funding deals for 2nd quarter

In [56]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')
driver.maximize_window()   # we need to maximize screen because funding details cannot be seen in a minimized window

# getting the url
url = 'https://trak.in/'
driver.get(url)

In [57]:
fund_url = driver.find_element(By.XPATH,'/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/a')
fund_url.click()

### a) for january 2021

In [58]:
# scraping the xpaths

date = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[2]')
startup = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[3]')
vertical = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[4]')
subvertical = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[5]')
city = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[6]')
investors = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[7]')
investment = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[8]')
amount = driver.find_elements(By.XPATH,'//table[@id="tablepress-54"]/tbody/tr/td[9]')

# creating empty list to score the data

january_data = []

# creating a dictionary to store the data

for i in range(len(date)):
    january = {'Date':date[i].text,
               'Start up name':startup[i].text,
               'Industry/vertical':vertical[i].text,
               'Sub-vertical':subvertical[i].text,
               'City/location':city[i].text,
               'Investors names':investors[i].text,
               'Investment type':investment[i].text,
               'Amount (in USD)':amount[i].text}
    january_data.append(january)

In [90]:
df1 = pd.DataFrame(january_data)
df1

,Date,Start up name,Industry/vertical,Sub-vertical,City/location,Investors names,Investment type,Amount (in USD)
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"

### b) for feb 2021

In [61]:
# scraping the xpaths

date = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[2]')
startup = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[3]')
vertical = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[4]')
subvertical = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[5]')
city = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[6]')
investors = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[7]')
investment = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[8]')
amount = driver.find_elements(By.XPATH,'//table[@id="tablepress-55"]/tbody/tr/td[9]')

# creating empty list to score the data

february_data = []

# creating a dictionary to store the data

for i in range(len(date)):
    february = {'Date':date[i].text,
               'Start up name':startup[i].text,
               'Industry/vertical':vertical[i].text,
               'Sub-vertical':subvertical[i].text,
               'City/location':city[i].text,
               'Investors names':investors[i].text,
               'Investment type':investment[i].text,
               'Amount (in USD)':amount[i].text}
    february_data.append(february)

In [91]:
df2 = pd.DataFrame(february_data)
df2

,Date,Start up name,Industry/vertical,Sub-vertical,City/location,Investors names,Investment type,Amount (in USD)
0,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
1,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
2,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
3,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
4,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
5,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
6,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
7,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
8,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"

### c) for march 2021

In [67]:
# scraping the xpaths

date = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[2]')
startup = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[3]')
vertical = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[4]')
subvertical = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[5]')
city = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[6]')
investors = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[7]')
investment = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[8]')
amount = driver.find_elements(By.XPATH,'//table[@id="tablepress-56"]/tbody/tr/td[9]')

# creating empty list  to score the data

march_data = []

# creating a dictionary to store the data

for i in range(len(date)):
    march = {'Date':date[i].text,
               'Start up name':startup[i].text,
               'Industry/vertical':vertical[i].text,
               'Sub-vertical':subvertical[i].text,
               'City/location':city[i].text,
               'Investors names':investors[i].text,
               'Investment type':investment[i].text,
               'Amount (in USD)':amount[i].text}
    march_data.append(march)

In [92]:
df3 = pd.DataFrame(march_data)
df3

,Date,Start up name,Industry/vertical,Sub-vertical,City/location,Investors names,Investment type,Amount (in USD)
0,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
1,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
2,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
3,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
4,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
5,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
6,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

In [96]:
df_new = pd.concat([df1,df2,df3],ignore_index = True)
df_new

,Date,Start up name,Industry/vertical,Sub-vertical,City/location,Investors names,Investment type,Amount (in USD)
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"
8,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
9,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
10,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
11,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
12,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
13,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
14,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
15,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
16,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"
17,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
18,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
19,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
20,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
21,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
22,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
23,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

In [97]:
df_new.to_csv('funding details.csv')

In [ ]:
driver.close()

# 7. Best gaming laptops

In [2]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.digit.in/'
driver.get(url)
driver.maximize_window()

In [3]:
# clicking laptop from menu bar
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[4]/ul/li[3]/a')
search.click()

In [4]:
# clicking "best gaming laptop" option 
search_ = driver.find_element(By.XPATH,'/html/body/div[6]/div/div[2]/div[2]/ul/li[10]/a')
search_.click()

In [64]:
brand_name_url = []
url = driver.find_elements(By.XPATH,'/html/body/div[5]/div[1]/div[4]/div/a')
for i in url:
    brand_name_url.append(i.get_attribute('href'))

In [65]:
# create column names
columns = []
for urls in brand_name_url:
    driver.get(urls)
    time.sleep(2)
    try:
        col_names = driver.find_elements(By.XPATH,'//div[@class="speci_details"]/div/div/table/tbody/tr/td[1]')
        for i in col_names:
            columns.append(i.text)
    except NoSuchElementException:
        columns.append('-')

In [69]:
len(columns)

224

In [70]:
cols = []
for i in brand_name_url:
    driver.get(i)
    time.sleep(2)
    model = driver.find_elements(By.XPATH,'//div[@class="speci_details"]/div/div/table/tbody/tr/td[3]')
    for i in model:
        cols.append(i.text)

In [71]:
len(cols)

224

In [81]:
df = pd.DataFrame()
df['Parameters'] = columns
df['Description'] = cols
df

                          Parameters      Description
0                         Model name       Titan GT77
1               Launch date (global)       14-07-2022
2    operating system (with version)  Windows 11 Home
3                        laptop type           Gaming
4                             Series            Titan
..                               ...              ...
219                GPU Memory amount             6 GB
220                         Cache L3            16 MB
221                Boost Clock Speed          4.4 GHz
222               Storage drive type              SSD
223           Storage drive capacity             1 TB

[224 rows x 2 columns]

In [82]:
df.to_csv('details of best laptops.csv')

In [ ]:
driver.close()

# 8. Billionaires from Forbes

In [5]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'http://www.forbes.com/'
driver.get(url)
driver.maximize_window()

In [7]:
# clicking explore button
explore = driver.find_element(By.XPATH,'//button[@class="icon--hamburger"]')
explore.click()

In [8]:
# clicking billionaires button
bill_click = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[3]/ul/li[1]')
bill_click.click()

In [9]:
# clicking world's billionaires button
bills = driver.find_element(By.XPATH,'//div[@class="header__subnav"]/ul/li[2]/a')
# we may have to execute the above code multiple times
bills.click()

In [12]:
ranks = driver.find_elements(By.XPATH,'//div[@class="rank"]')
name = driver.find_elements(By.XPATH,'//div[@class="personName"]')
net_worth = driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
country = driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
source = driver.find_elements(By.XPATH,'//span[@class="source-text"]')
age = driver.find_elements(By.XPATH,'//div[@class="age"]')
industry = driver.find_elements(By.XPATH,'//div[@class="category"]')

In [13]:
data = []
time.sleep(3)
for i in range(len(ranks)):
    dict_ = {'Rank':ranks[i].text,
             'Name':name[i].text,
             'Net Worth':net_worth[i].text,
             'Age':age[i].text,
             'Citizenship':country[i].text,
             'Source':source[i].text,
             'Industry':industry[i].text}
    data.append(dict_)

In [14]:
df = pd.DataFrame(data)
df

,Rank,Name,Net Worth,Age,Citizenship,Source,Industry
0,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,$10.3 B,72,Brazil,beer,Food & Beverage
196,197.,Leon Black,$10 B,70,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,$10 B,40,United States,Airbnb,Technology
198,197.,David Geffen,$10 B,79,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,$10 B,56,China,semiconductors,Manufacturing

In [15]:
df.to_csv('billionaires.csv')

In [ ]:
drive.close()

# 9. Details from YouTube

In [22]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.youtube.com/watch?v=uTPO4gWAMqg'
driver.get(url)
driver.maximize_window()

In [23]:
time.sleep(10)
for _ in range(3000):
    driver.execute_script("window.scrollBy(0,90)")
comm = []
try:
    comment_section = driver.find_elements(By.ID,'content-text')
    for i in comment_section:
        comm.append(i.text)
except NoSuchElementException:
    comm.append('-')

In [26]:
comments = comm[:500]

In [28]:
vote = []
try:
    upvote = driver.find_elements(By.ID,'vote-count-middle')
    for i in upvote:
        vote.append(i.text)
except NoSuchElementException:
    vote.append('-')

In [31]:
upvotes = vote[:500]

In [34]:
time_ = []
try:
    up_time = driver.find_elements(By.XPATH,'//yt-formatted-string[@class="published-time-text style-scope ytd-comment-renderer"]')
    for i in up_time:
        time_.append(i.text)
except NoSuchElementException:
    time_.append('-')

In [37]:
vote_time = time_[:500]

In [38]:
df = pd.DataFrame()
df['Comments'] = comments
df['Upvotes'] = upvotes
df['Time'] = vote_time
df

,Comments,Upvotes,Time
0,Have you ever made any of these mistakes?\n\nI...,871,1 year ago
1,When Judo insults your whole account in one video,3.9K,1 year ago
2,When you realise your enemy is also learning a...,1.5K,11 months ago
3,Putting a jump potion for a hogrider is like d...,4K,1 year ago
4,Here’s a little tip for using bases from the w...,392,7 months ago (edited)
...,...,...,...
495,Before watching this I know I’ve made at least 5,1,1 year ago
496,"I'm TH5 and my troops are Giants, Loons, break...",,1 month ago
497,I can't do queen walk Even I see your video ab...,,6 months ago
498,What if you put a tesla on the corner of the m...,1,1 year ago (edited)
499,Lmao I had no idea that upgrading each barrack...,1,1 year ago

In [39]:
df.to_csv('Youtube_details.csv')

In [40]:
driver.close()

# 10. Hostel details

In [2]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.hostelworld.com/s?q=London,%20England&country=England&city=London&type=city&id=3&from=2022-08-05&to=2022-08-08&guests=2&HostelNumber=&page=1'
driver.get(url)
driver.maximize_window()

In [3]:
# getting all the urls from all the pages available
time.sleep(5)
hostel_urls = []
for page in range(0,2):
    urls = driver.find_elements(By.XPATH,'//div[@class="title-row"]/h2/a')
    for i in urls:
        hostel_urls.append(i.get_attribute('href'))
    next_button = driver.find_elements(By.XPATH,'//div[@class="pagination-item"]')

In [4]:
len(hostel_urls)

60

### a) Hostel names

In [5]:
hostel_names = []
for i in hostel_urls:
    driver.get(i)
    time.sleep(3)
    try:
        hn = driver.find_element(By.XPATH,'//div[@class="title-2"]')
        hostel_names.append(hn.text)
    except NoSuchElementException:
        hostel_names.append("-")

In [6]:
len(hostel_names)

60

### b) Ratings

In [7]:
ratings = []
for i in hostel_urls:
    driver.get(i)
    time.sleep(3)
    try:
        rat = driver.find_element(By.XPATH,'//div[@class="score orange big"][1]')
        ratings.append(rat.text)
    except NoSuchElementException:
        ratings.append("-")

In [8]:
len(ratings)

60

### c) Total reviews

In [9]:
tot_reviews = []
for i in hostel_urls:
    driver.get(i)
    time.sleep(3)
    try:
        tot_rev = driver.find_element(By.XPATH,'//div[@class="reviews"][1]')
        tot_reviews.append(tot_rev.text)
    except NoSuchElementException:
        tot_reviews.append("-")

In [10]:
len(tot_reviews)

60

### d) Overall reviews

In [11]:
overall_reviews = []
for i in hostel_urls:
    driver.get(i)
    time.sleep(3)
    try:
        ov = driver.find_element(By.XPATH,'//div[@class="keyword"]/span[1]')
        overall_reviews.append(ov.text)
    except NoSuchElementException:
        overall_reviews.append("-")

In [12]:
len(overall_reviews)

60

### e) Privates from price

In [13]:
privates = []
for i in hostel_urls:
    driver.get(i)
    time.sleep(3)
    try:
        pvt = driver.find_element(By.XPATH,'//div[@class="label body-3 green"][1]')
        privates.append(pvt.text)
    except NoSuchElementException:
        privates.append("-")

In [14]:
len(privates)

60

### f) Property description

In [15]:
description = []
for i in hostel_urls:
    driver.get(i)
    time.sleep(3)
    try:
        p_desc = driver.find_element(By.XPATH,'//div[@class="collapsible"][1]/div[2]')
        description.append(p_desc.text)
    except NoSuchElementException:
        description.append("-")

In [16]:
len(description)

60

### DataFrame

In [18]:
df = pd.DataFrame()
df['Hostel names'] = hostel_names
df['Ratings'] = ratings
df['Total reviews'] = tot_reviews
df['Overall reviews'] = overall_reviews
df['Privates from price'] = privates
df['Property description'] = description
df

,Hostel names,Ratings,Total reviews,Overall reviews,Privates from price,Property description
0,St Christopher's Village,8.1,11406 Total Reviews,Fabulous,Best private price,Hostelworld visitors have said St Christopher'...
1,Selina Camden,8.5,34 Total Reviews,Fabulous,Best private price,"Among underground music venues, innovative mus..."
2,Generator London,7.7,7072 Total Reviews,Very Good,Best private price,Hostelworld guests have said Generator Hostel ...
3,Urbany Hostel London,9.3,424 Total Reviews,Superb,Best private price,"Welcome to Urbany Hostel London, our first int..."
4,Safestay London Elephant & Castle,7.0,4424 Total Reviews,Very Good,Best Bed Price,Safestay at Elephant and Castle is located in ...
5,Smart Camden Inn Hostel,8.3,2902 Total Reviews,Fabulous,Best private price,"Located in the middle of Camden Town, we’re th..."
6,No.8 Willesden Hostel London,6.8,4806 Total Reviews,Good,Best private price,At No.8 we take pride in our Customer Service ...
7,Smart Russell Square Hostel,7.3,9707 Total Reviews,Very Good,Best private price,Many Hostelworld guests who visit Smart Russel...
8,No.8 Seven Sisters,6.1,3827 Total Reviews,Good,Best Bed Price,"For Great Facilities, Comfort & Affordability ..."
9,London Backpackers,8.1,4295 Total Reviews,Fabulous,Best Bed Price,
10,Safestay London Kensington Holland Park,6.5,1274 Total Reviews,Good,Best Bed Price,Safestay Holland Park\n\nSafestay Holland Park...
11,Phoenix Hostel,7.5,3690 Total Reviews,Very Good,Best Bed Price,*Please note we are operating on LIMITED recep...
12,Queen Elizabeth Chelsea,6.7,3308 Total Reviews,Good,Best Bed Price,PLEASE NOTE WE ONLY ACCEPT GUESTS FROM THE AGE...
13,Smart Hyde Park Inn Hostel,7.0,6341 Total Reviews,Very Good,Best private price,Smart Hyde Park Inn Hostel is perfectly locate...
14,NX London Hostel,7.2,1186 Total Reviews,Very Good,Best Bed Price,Welcome to NX London Hostel!\n\nA Friendly bac...
15,Hostel One Notting Hill,9.2,1442 Total Reviews,Superb,Best private price,The perfect place for solo travelers to connec...
16,St Christopher's Hammersmith,7.9,4082 Total Reviews,Very Good,Best Bed Price,"The friendly, attentive and welcoming staff of..."
17,St Christopher's Camden,8.4,3814 Total Reviews,Fabulous,Best Bed Price,If you're looking to explore the markets and m...
18,St Christopher's Inn - Liverpool Street,8.8,422 Total Reviews,Fabulous,Best Bed Price,COVID 19 Policy Update.\nIn response to Corona...
19,Palmers Lodge - Swiss Cottage,8.8,15501 Total Reviews,Fabulous,Best Bed Price,Palmers Lodge - Swiss Cottage is set in what o...
20,"PubLove @ The White Ferry, Victoria",8.1,276 Total Reviews,Fabulous,Best Bed Price,"The White Ferry, Bestplace Inn is close to Vic..."
21,St Christopher's Greenwich,6.8,3225 Total Reviews,Good,Best Bed Price,St Christopher's Greenwich is 'ideally located...
22,"PubLove @ The Steam Engine, Waterloo",8.4,296 Total Reviews,Fabulous,Best Bed Price,"The Steam Engine, Bestplace Inn is a great hos..."
23,St Christopher's Shepherds Bush,7.4,702 Total Reviews,Very Good,Best Bed Price,St Christopher's Shepherds Bush has been highl...
24,PubLove @ The Rose & Crown,8.1,143 Total Reviews,Fabulous,Best Bed Price,"Food & culture lovers, assemble!\nThe Rose & C..."
25,International Students House,9.2,970 Total Reviews,Superb,Best private price,International Students House provides affordab...
26,"PubLove @ The Exmouth Arms, Euston",7.1,1038 Total Reviews,Very Good,Best Bed Price,Do Camden by day and curb side beers by night....
27,"PubLove @ The Crown, Battersea",6.5,255 Total Reviews,Good,Best Bed Price,Do London like a local.\nStay just outside the...
28,Park Villa,7.9,873 Total Reviews,Very Good,Best private price,Park Villa is a new boutique hostel in the hea...
29,Saint James Backpackers,6.6,1816 Total Reviews,Good,Best private price,"Saint James Backpackers, set in a classic Vict..."
30,St Christopher's Village,8.1,11406 Total Reviews,Fabulous,Best private price,Hostelworld visitors have said St Christopher'...
31,Selina Camden,8.5,34 Total Reviews,Fabulous,Best private price,"Among underground music venues, innovative mus..."
32,Generator London,7.7,7072 Total Reviews,Very Good,Best private price,Hostelworld guests have said Generator Hostel ...
33,Urbany Hostel London,9.3,424 Total Reviews,Superb,Best private price,"Welcome to Urbany Hostel London, our first int..."
34,Safestay London Elephant & Castle,7.0,4424 Total Reviews,Very Good,Best Bed Price,Safestay at Elephant and Castle is located in ...
35,Smart Camden Inn Hostel,8.3,2902 Total Reviews,Fabulous,Best private price,"Located in the middle of Camden Town, we’re th..."
36,No.8 Willesden Hostel London,6.8,4806 Total Reviews,Good,Best private price,At No.8 we take pride in our Customer Service ...
37,Smart Russell Square Hostel,7.3,9707 Total Reviews,Very Good,Best private price,Many Hostelworld guests who visit Smart Russel...
38,No.8 Seven Sisters,6.1,3827 Total Reviews,Good,Best Bed Price,"For Great Facilities, Comfort & Affordability ..."
39,London Backpackers,8.1,4295 Total Reviews,Fabulous,Best Bed Price,
40,Safestay London Kensington Holland Park,6.5,1274 Total Reviews,Good,Best Bed Price,Safestay Holland Park\n\nSafestay Holland Park...
41,Phoenix Hostel,7.5,3690 Total Reviews,Very Good,Best Bed Price,*Please note we are operating on LIMITED recep...
42,Queen Elizabeth Chelsea,6.7,3308 Total Reviews,Good,Best Bed Price,PLEASE NOTE WE ONLY ACCEPT GUESTS FROM THE AGE...
43,Smart Hyde Park Inn Hostel,7.0,6341 Total Reviews,Very Good,Best private price,Smart Hyde Park Inn Hostel is perfectly locate...
44,NX London Hostel,7.2,1186 Total Reviews,Very Good,Best private price,Welcome to NX London Hostel!\n\nA Friendly bac...
45,Hostel One Notting Hill,9.2,1442 Total Reviews,Superb,Best private price,The perfect place for solo travelers to connec...
46,St Christopher's Hammersmith,7.9,4082 Total Reviews,Very Good,Best Bed Price,"The friendly, attentive and welcoming staff of..."
47,St Christopher's Camden,8.4,3814 Total Reviews,Fabulous,Best Bed Price,If you're looking to explore the markets and m...
48,St Christopher's Inn - Liverpool Street,8.8,422 Total Reviews,Fabulous,Best Bed Price,COVID 19 Policy Update.\nIn response to Corona...
49,Palmers Lodge - Swiss Cottage,8.8,15501 Total Reviews,Fabulous,Best Bed Price,Palmers Lodge - Swiss Cottage is set in what o...
50,"PubLove @ The White Ferry, Victoria",8.1,276 Total Reviews,Fabulous,Best Bed Price,"The White Ferry, Bestplace Inn is close to Vic..."
51,St Christopher's Greenwich,6.8,3225 Total Reviews,Good,Best Bed Price,St Christopher's Greenwich is 'ideally located...
52,"PubLove @ The Steam Engine, Waterloo",8.4,296 Total Reviews,Fabulous,Best Bed Price,"The Steam Engine, Bestplace Inn is a great hos..."
53,St Christopher's Shepherds Bush,7.4,702 Total Reviews,Very Good,Best Bed Price,St Christopher's Shepherds Bush has been highl...
54,PubLove @ The Rose & Crown,8.1,143 Total Reviews,Fabulous,Best Bed Price,"Food & culture lovers, assemble!\nThe Rose & C..."
55,International Students House,9.2,970 Total Reviews,Superb,Best private price,International Students House provides affordab...
56,"PubLove @ The Exmouth Arms, Euston",7.1,1038 Total Reviews,Very Good,Best Bed Price,Do Camden by day and curb side beers by night....
57,"PubLove @ The Crown, Battersea",6.5,255 Total Reviews,Good,Best Bed Price,Do London like a local.\nStay just outside the...
58,Park Villa,7.9,873 Total Reviews,Very Good,Best private price,Park Villa is a new boutique hostel in the hea...
59,Saint James Backpackers,6.6,1816 Total Reviews,Good,Best private price,"Saint James Backpackers, set in a classic Vict..."

In [19]:
df.to_csv('Hostel_details.csv')

In [20]:
driver.close()