In [2]:
# importing necessary libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import time
import re
import requests
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

# 1.  Most viewed videos on YouTube

In [2]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
driver.maximize_window()

### a) Rank

In [11]:
ranks = []
rank = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    ranks.append(i.text)

In [12]:
ranks = ranks[:30:]
len(ranks)

30

### b) Name

In [110]:
name = []
try:
    names = driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[2]')
    for i in names:
        name.append(i.text.split("["))
except NoSuchElementException:
    name.append("-")
    
name_ = []
for i in range(0,len(name)):
    name_.append(name.pop(0)[0])
    
Name = []
for i in range(0,len(name_)):
    Name.append(name_[i].strip('\"'))

In [114]:
len(Name)

30

### c) Artist

In [117]:
artist = []
try:
    artists = driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[3]')
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")

In [119]:
len(artist)

30

### d) Upload date

In [120]:
date = []
try:
    dates = driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[5]')
    for i in dates:
        date.append(i.text)
except NoSuchElementException:
    date.append("-")

In [122]:
len(date)

30

### e) Views

In [139]:
view = []
try:
    views = driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]')
    for i in views:
        view.append(i.text)
except NoSuchElementException:
    view.append("-")

In [140]:
len(view)

30

### Dataframe for most viewed youtube videos

In [141]:
df = pd.DataFrame()
df['Rank'] = ranks
df['Name'] = Name
df['Artist'] = artist
df['Upload date'] = date
df['Views in billions'] = view
df

,Rank,Name,Artist,Upload date,Views in billions
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.93
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.40
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.77
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.59
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.77
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.65
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.60
9,10.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.50
10,11.,Gangnam Style,Psy,"July 15, 2012",4.50
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.00
13,14.,Sugar,Maroon 5,"January 14, 2015",3.74
14,15.,Roar,Katy Perry,"September 5, 2013",3.63
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.62
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.57
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.48
18,19.,Axel F,Crazy Frog,"June 16, 2009",3.45
19,20.,Dark Horse,Katy Perry,"February 20, 2014",3.32
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.32
21,22.,Faded,Alan Walker,"December 3, 2015",3.32
22,23.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,Let Her Go,Passenger,"July 25, 2012",3.27
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.25
25,26.,Lean On,Major Lazer,"March 22, 2015",3.24
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.22
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.21
28,29.,Shake It Off,Taylor Swift,"August 18, 2014",3.19
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.11

### Closing the web driver

In [143]:
driver.close()

# 2.  India’s international fixtures

In [205]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.bcci.tv/'
driver.get(url)
driver.maximize_window()

### a) Match title (1st ODI)

In [206]:
search = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [207]:
icon = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[4]/a')
icon.click()

In [210]:
title_ = []

title = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[6]/div[4]/div[2]/div[2]/div/div/ul/li[2]/span[2]')
try:
    for i in title:
        title_.append(i.text)
except NoSuchElementException:
    pass
title_

['Zimbabwe VS India']

### b) Series

In [211]:
series_ = []

series = driver.find_elements(By.XPATH,'html/body/div[2]/div/div[1]/div[3]/div[6]/div[4]/div[2]/div[2]/div/div/ul/li[1]/span[2]')
try:
    for i in series:
        series_.append(i.text)
except NoSuchElementException:
    pass
series_

['INDIA TOUR OF ZIMBABWE ODI SERIES 2022']

### c) Place

In [214]:
place_ = []

place = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[6]/div[4]/div[2]/div[2]/div/div/ul/li[3]/span[2]')
try:
    for i in place:
        place_.append(i.text)
except NoSuchElementException:
    pass
place_

['HARARE SPORTS CLUB']

### d) Date
- Need to go back to original page to get date and time

In [219]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [221]:
search = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [222]:
date_ = []

date = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[1]/div/div[1]/h5')
try:
    for i in date:
        date_.append(i.text)
except NoSuchElementException:
    pass
date_

['18 AUG 2022']

### e) Time

In [225]:
time_ = []

time = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[1]/div/div[1]/div/div[2]/h5')
try:
    for i in time:
        time_.append(i.text)
except NoSuchElementException:
    pass
time_

['12:45 PM IST']

### Dataframe for team India's International fixture

In [230]:
df = pd.DataFrame()
df['Match title'] = title_
df['Series'] = series_
df['Place'] = place_
df['Date'] = date_
df['Time'] = time_
df

,Match title,Series,Place,Date,Time
0,Zimbabwe VS India,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,HARARE SPORTS CLUB,18 AUG 2022,12:45 PM IST

In [231]:
driver.close()

# 3. Selenium exception

In [466]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'http://www.guru99.com/'
driver.get(url)
driver.maximize_window()

In [467]:
selenium = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
selenium.click()

In [468]:
tutorial = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
tutorial.click()

### a) Name

In [469]:
name = []
names = driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in names:
    try:
        name.append(i.text.split(','))
    except NoSuchElementException:
        name.append('-')

In [474]:
name_ = []
for i in range(len(name)):
    name_.append(name[i])

In [475]:
# splitting the list since we want only the names of the exception
Name = []
for i in name:
    for j in i:
        Name.append(j.split("["))

In [478]:
# appending name of exceptions and filter out null values
Names = []
for i in range(len(Name)):
    Names.append(Name[i][0])
Names = list(filter(None, Names))
len(Names)

41

### b) Description

In [479]:
description = []
desc = driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in desc:
    try:
        description.append(i.text)
    except NoSuchElementException:
        pass

In [480]:
len(description)

41

### Dataframe for Selenium exceptions

In [481]:
df = pd.DataFrame()
df['Name'] = Names
df['Description'] = description
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [482]:
driver.close()

# 4.  State-wise GDP of India

In [17]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'http://statisticstimes.com/'
driver.get(url)
driver.maximize_window()

In [18]:
economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [19]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [20]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

### a) Rank

In [22]:
rank = []
ranks = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody//tr/td[1]')
for i in ranks:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        rank.append('-')

In [24]:
len(rank)

33

### b) State

In [25]:
state = []
states = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody//tr/td[2]')
for i in states:
    try:
        state.append(i.text)
    except NoSuchElementException:
        state.append('-')

In [27]:
len(state)

33

### c) GSDP (19-20)

In [28]:
gsdp_19_20 = []
gsdP_19_20_ = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody//tr/td[3]')
for i in gsdP_19_20_:
    try:
        gsdp_19_20.append(i.text)
    except NoSuchElementException:
        gsdp_19_20.append('-')

In [30]:
len(gsdp_19_20)

33

### d) GSDP (18-19)

In [31]:
gsdp_18_19 = []
gsdP_18_19_ = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody//tr/td[4]')
for i in gsdP_18_19_:
    try:
        gsdp_18_19.append(i.text)
    except NoSuchElementException:
        gsdp_18_19.append('-')

In [33]:
len(gsdp_18_19)

33

### e) Share (18-19)

In [34]:
share = []
share_ = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody//tr/td[5]')
for i in share_:
    try:
        share.append(i.text)
    except NoSuchElementException:
        share.append('-')

In [36]:
len(share)

33

### f) GDP ($ Billion)

In [37]:
gdp = []
gdp_ = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody//tr/td[6]')
for i in gdp_:
    try:
        gdp.append(i.text)
    except NoSuchElementException:
        gdp.append('-')

In [39]:
len(gdp)

33

### Dataframe for Statewise GDP of India

In [40]:
df = pd.DataFrame()
df['Rank'] = rank
df['State'] = state
df['GSDP(19-20)'] = gsdp_19_20
df['GSDP(18-19)'] = gsdp_18_19
df['Share(18-19)'] = share
df['GDP($ Billion)'] = gdp
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [41]:
driver.close()

# 5. Trending repositories on Github

In [340]:
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://github.com/'
driver.get(url)
driver.maximize_window()

In [343]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [344]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

### a) Repository title

In [345]:
title = []
titles = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in titles:
    try:
        title.append(i.text)
    except NoSuchElementException:
        pass

In [375]:
len(title)

25

### b) Repository description

In [361]:
urls = []
urls_ = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in urls_:
    urls.append(i.get_attribute('href'))

In [363]:
len(urls)

25

In [454]:
description = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        desc = driver.find_element(By.XPATH,'//div[@class="BorderGrid-row hide-sm hide-md"]/div/p')
        description.append(desc.text)
    except NoSuchElementException:
        description.append('-')

In [455]:
len(description)

25

### c) Contributors count

In [390]:
count = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        counts = driver.find_element(By.CLASS_NAME,'Counter')
        count.append(counts.text)
    except NoSuchElementException:
        description.append('-')

In [392]:
len(count)

25

### d) Language used

In [448]:
language = []
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        lg = driver.find_element(By.XPATH,'//li[@class="d-inline"]')
        language.append(lg.text.split('\n'))
    except NoSuchElementException:
        language.append('-')

In [451]:
languages = []
for i in range(len(language)):
    languages.append(language[i][0])
len(languages)

25

### Dataframe for Trending repositories on Github

In [456]:
df = pd.DataFrame()
df['Repository title'] = title
df['Repository description'] = description
df['Contributors count'] = count
df['Languages used'] = languages
df

,Repository title,Repository description,Contributors count,Languages used
0,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,127,TypeScript
1,utmapp / UTM,Virtual machines for iOS and macOS,879,Swift
2,NVIDIAGameWorks / kaolin-wisp,NVIDIA Kaolin Wisp is a PyTorch library powere...,43,Python
3,microsoft / terminal,The new Windows Terminal and the original Wind...,7.5k,C++
4,jina-ai / discoart,Create Disco Diffusion artworks in one line,102,Python
5,martinshkreli / models,stock market models - have fun,33,-
6,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,1.9k,Python
7,KalleHallden / exer_log,-,28,Dart
8,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,1.5k,CSS
9,EbookFoundation / free-programming-books,📚 Freely available programming books,50.2k,-
10,moyix / fauxpilot,FauxPilot - an open-source GitHub Copilot server,98,Python
11,josejesusguzman / acordeon-az500-innoovaccion,-,11,-
12,adiwajshing / Baileys,Lightweight full-featured WhatsApp Web + Multi...,1.1k,JavaScript
13,qmk / qmk_firmware,Open-source keyboard firmware for Atmel AVR an...,27.6k,C
14,valinet / ExplorerPatcher,This project aims to enhance the working envir...,403,C
15,PKUFlyingPig / cs-self-learning,计算机自学指南,1.6k,HTML
16,lucidrains / imagen-pytorch,"Implementation of Imagen, Google's Text-to-Ima...",324,Python
17,Womsxd / AutoMihoyoBBS,米游社自动签到，支持：崩坏二、崩坏三、原神、未定事件簿，米游币自动获取,246,Python
18,getify / You-Dont-Know-JS,A book series on JavaScript. @YDKJS on twitter.,30.9k,-
19,coolsnowwolf / lede,Lean's OpenWrt source,17.8k,C
20,google-research / multinerf,"A Code Release for Mip-NeRF 360, Ref-NeRF, and...",32,Python
21,termux / termux-app,Termux - a terminal emulator application for A...,1.9k,Java
22,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,9.1k,C++
23,rust-lang / rust-analyzer,A Rust compiler front-end for IDEs,1k,Rust
24,ventoy / Ventoy,A new bootable USB solution.,2.8k,C

In [457]:
driver.close()

# 6.  Top 100 songs on Billboard

In [49]:
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.billboard.com/'
driver.get(url)
driver.maximize_window()

In [51]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
charts.click()

In [52]:
hot = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
hot.click()

### a) Song name

In [58]:
song = []
sg = driver.find_elements(By.ID,'title-of-a-story')
for i in sg:
    try:
        song.append(i.text)
    except NoSuchElementException:
        song.append('-')

In [64]:
song = list(filter(None,song))
song = song[:100]
len(song)

100

### b) Artist name

In [70]:
name = []
nm = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in nm:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('-')

In [72]:
len(name)

100

### c) Last week rank

In [73]:
week = []
wrank = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[3]/span')
for i in wrank:
    try:
        week.append(i.text)
    except NoSuchElementException:
        week.append('-')

In [75]:
len(week)

100

### d) Peak rank

In [76]:
peak = []
prank = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]/span')
for i in prank:
    try:
        peak.append(i.text)
    except NoSuchElementException:
        peak.append('-')

In [78]:
len(peak)

100

### e) Weeks on board

In [80]:
board = []
wboard = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[5]/span')
for i in wboard:
    try:
        board.append(i.text)
    except NoSuchElementException:
        board.append('-')

In [82]:
len(board)

100

### Dataframe for top 100 songs on Billboard

In [83]:
df = pd.DataFrame()
df['Song name'] = song
df['Artist name'] = name
df['Last week rank'] = week
df['Peak rank'] = peak
df['Weeks on board'] = board
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Break My Soul,Beyonce,6,1,7
1,About Damn Time,Lizzo,1,1,16
2,As It Was,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God),Kate Bush,3,3,30
4,Wait For U,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...
95,Until I Found You,Stephen Sanchez,88,88,5
96,Un Ratito,Bad Bunny,93,16,13
97,Best Thing Since Backroads,Jake Owen,72,72,4
98,La Corriente,Bad Bunny & Tony Dize,100,32,10
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,98,98,2

In [84]:
driver.close()

# 7. Data science recruiters

In [64]:
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)
driver.maximize_window()

In [65]:
rec = driver.find_element(By.XPATH,'/html/body/div[1]/div/ul/li[2]/a/div')
rec.click()

In [66]:
from selenium.webdriver.common.keys import Keys

In [67]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data science')
time.sleep(3)
search.send_keys(Keys.ENTER)

In [70]:
page2 = driver.find_element(By.XPATH,'/html/body/div[3]/div/div[2]/div/div[3]/button')
page2.click()

- The first page has no **previous** button.
- When i tried to go for next page each time, the driver gets back to previous page since from second page onwards, there is **previous** and **next** button and they both have exactly same xpath.
- Due to this, the driver gets me back to the previous page and then next and then previous and this goes on untill the loop finishes.
- So, i just decided to scrape from the 2nd page onwards so that i could locate exactly the path for the **next button** by index.
- We can also scrape the url of the 1st page first, and then make one list with urls from 2nd page onwards.

**Since it took a long time to scrape all 6000+ names, i'll just scrape for 150 names from the first 3 pages (from 2nd page onwards, i.e., page 2,3,4)**
- This will contain 150 entries (50 from each page)

In [71]:
urls2 = []
for page in range(0,3):
    time.sleep(2)
    url2 = driver.find_elements(By.XPATH,'//div[@id="tabP-1"]/div/div/div[1]/div[1]/p/a[1]')
    for i in url2:
        urls2.append(i.get_attribute('href'))
    next_button = driver.find_element(By.XPATH,'//div[@class="pagination"]/button[2]')
    next_button.click()

### a) Name

In [78]:
name = []
for i in urls2:
    driver.get(i)
    time.sleep(3)
    try:
        nm = driver.find_element(By.XPATH,'//h1[@class="fl ellipsis wLimit hd"]')
        name.append(nm.text)
    except NoSuchElementException:
        name.append("-")

In [80]:
len(name)

150

### b) Designation

In [84]:
designation = []
for i in urls2:
    driver.get(i)
    time.sleep(2)
    try:
        dg = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[3]')
        designation.append(dg.text)
    except NoSuchElementException:
        designation.append("-")

In [86]:
len(designation)

150

### c) Company

In [89]:
company = []
for i in urls2:
    driver.get(i)
    time.sleep(2)
    try:
        comp = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[4]/a')
        company.append(comp.text)
    except NoSuchElementException:
        company.append("-")

In [91]:
len(company)

150

### d) Skills hiring

In [92]:
skills = []
for i in urls2:
    driver.get(i)
    time.sleep(2)
    try:
        sk = driver.find_element(By.XPATH,'//div[@class="fl lPortn"]/p[1]')
        skills.append(sk.text)
    except NoSuchElementException:
        skills.append("-")

In [96]:
len(skills)

150

### e) Location

In [97]:
location = []
for i in urls2:
    driver.get(i)
    time.sleep(2)
    try:
        loc = driver.find_element(By.XPATH,'//div[@class="rFrame fl infoWrapper"]/div[5]/a')
        location.append(loc.text)
    except NoSuchElementException:
        location.append("-")

In [100]:
len(location)

150

### Dataframe for Data science recruiters

In [99]:
df = pd.DataFrame()
df['Name'] = name
df['Designation'] = designation
df['Company'] = company
df['Skills hiring'] = skills
df['Location'] = location
df

,Name,Designation,Company,Skills hiring,Location
0,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,"Mid Level, Top Mangement Level",Ghaziabad
1,Shailaja.N,Company Recruiter,Kigyan School of Data Science Pvt.Ltd.,-,Bengaluru / Bangalore
2,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals , Engineering , Technic...",Mumbai
3,vidya bhushan singh,jaipur,Next Data Science,Business Analysis,Jaipur
4,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers , Product Manager , Data...",Bengaluru / Bangalore
...,...,...,...,...,...
145,Adhilakshmi,Senior IT Recruiter,Avyayh,"Web Designer , Web Developer , PHP Developer ,...",Chennai
146,Rose Mary,Talent Acquisition Specialist,Flex i Partners,"Mid Level, Junior Level",Bengaluru / Bangalore
147,Azim Hajiyani,Sr. Associate - Recruitment,Synechron Technologies Private Limited,"Core Java , Java , C++ , Business Analyst , An...",Pune
148,Nasim khan,Company HR,Angel Broking Limited,-,Mumbai
149,AMIT CHAUDHARY,Human Resources Specialist,"AlfaTech ,","Mid Level, High Level",Mumbai

In [101]:
driver.close()

# 8. Highest selling novels

In [22]:
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
driver.maximize_window()

### a) Book name

In [25]:
book = []
books = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for i in books:
    try:
        book.append(i.text)
    except NoSuchElementException:
        book.append('-')

In [27]:
len(book)

100

### b) Author name

In [29]:
author = []
authors = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
for i in authors:
    try:
        author.append(i.text)
    except NoSuchElementException:
        author.append('-')

In [31]:
len(author)

100

### c) Volumes sold

In [33]:
sold = []
vol_sold = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
for i in vol_sold:
    try:
        sold.append(i.text)
    except NoSuchElementException:
        sold.append('-')

In [35]:
len(sold)

100

### d) Publisher

In [36]:
publisher = []
pub = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
for i in pub:
    try:
        publisher.append(i.text)
    except NoSuchElementException:
        publisher.append('-')

In [38]:
len(publisher)

100

### e) Genre

In [39]:
genre = []
gr = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
for i in gr:
    try:
        genre.append(i.text)
    except NoSuchElementException:
        genre.append('-')

In [41]:
len(genre)

100

### Dataframe for highest selling novels

In [42]:
df = pd.DataFrame()
df['Book name'] = book
df['Author name'] = author
df['Volumes sold'] = sold
df['Publisher'] = publisher
df['Genre'] = genre
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [43]:
driver.close()

# 9. Most watched TV series of all time

In [44]:
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'http://www.imdb.com/list/ls095964455/'
driver.get(url)
driver.maximize_window()

### a) Name

In [45]:
name = []
nm = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in nm:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('-')

In [47]:
len(name)

100

### b) Year span

In [48]:
span = []
yspan = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in yspan:
    try:
        span.append(i.text)
    except NoSuchElementException:
        span.append('-')

In [50]:
len(span)

100

### c) Genre

In [51]:
genre = []
gr = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for i in gr:
    try:
        genre.append(i.text)
    except NoSuchElementException:
        genre.append('-')

In [53]:
len(genre)

100

### d) Run time

In [54]:
time = []
rtime = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
for i in rtime:
    try:
        time.append(i.text)
    except NoSuchElementException:
        time.append('-')

In [56]:
len(time)

100

### e) Ratings

In [57]:
ratings = []
rat = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div[1]/span[2]')
for i in rat:
    try:
        ratings.append(i.text)
    except NoSuchElementException:
        ratings.append('-')

In [59]:
len(ratings)

100

### f) Votes

In [60]:
votes = []
vt = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in vt:
    try:
        votes.append(i.text)
    except NoSuchElementException:
        votes.append('-')

In [62]:
len(votes)

100

### Dataframe for 'Most watched TV series of all time'

In [63]:
df = pd.DataFrame()
df['Name'] = name
df['Year span'] = span
df['Genre'] = genre
df['Run time'] = time
df['Ratings'] = ratings 
df['Votes'] = votes
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,021,249"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,117,563"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,738"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,901"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,513"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,266"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,157"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,396"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,807"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,328"

In [64]:
driver.close()

# 10.  Datasets from UCI machine learning repositories

In [65]:
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://archive.ics.uci.edu/'
driver.get(url)
driver.maximize_window()

In [67]:
show = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font')
show.click()

### a) Dataset name

In [70]:
name = []
nm = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td/table/tbody/tr/td[2]/p/b/a')
for i in nm:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('-')

In [72]:
len(name)

622

### b) Data type

In [90]:
dtype = []
dtypes = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td[2]/p')
for i in dtypes:
    try:
        dtype.append(i.text)
    except NoSuchElementException:
        dtype.append('-')

In [91]:
dtype = dtype[1::]
len(dtype)

622

### c) Task

In [99]:
task = []
tasks = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td[3]/p')
for i in tasks:
    try:
        task.append(i.text)
    except NoSuchElementException:
        task.append('-')

In [100]:
task = task[1::]
len(task)

622

### d) Attribute type

In [101]:
attr_type = []
at = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td[4]/p')
for i in at:
    try:
        attr_type.append(i.text)
    except NoSuchElementException:
        attr_type.append('-')

In [103]:
attr_type = attr_type[1::]
len(attr_type)

622

### e) No. of instances

In [104]:
ninstance = []
ni = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td[5]/p')
for i in ni:
    try:
        ninstance.append(i.text)
    except NoSuchElementException:
        nisntance.append('-')

In [106]:
ninstance = ninstance[1::]
len(ninstance)

622

### f) No. of attribute

In [107]:
nattribute = []
na = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td[6]/p')
for i in na:
    try:
        nattribute.append(i.text)
    except NoSuchElementException:
        nattribute.append('-')

In [109]:
nattribute = nattribute[1::]
len(nattribute)

622

### g) Year

In [110]:
year = []
yr = driver.find_elements(By.XPATH,'//td[@valign="top"]/table[2]/tbody/tr/td[7]/p')
for i in yr:
    try:
        year.append(i.text)
    except NoSuchElementException:
        year.append('-')

In [112]:
year = year[1::]
len(year)

622

### Dataframe for Datasets from UCI machine learning repositories

In [114]:
df = pd.DataFrame()
df['Dataset name'] = name
df['Data type'] = dtype
df['Task'] = task
df['Attribute type'] = attr_type
df['No of instances'] = ninstance
df['No of attributes'] = nattribute
df['Year'] = year
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [115]:
driver.close()