## 1. Scraping all header tags from wiki main page

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [3]:
soup = bs(page.content)
#soup

In [4]:
head = []
for i in soup.find_all('span',class_ = 'mw-headline'):
    head.append(i.text)
head

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [5]:
df = pd.DataFrame()
df['Header'] = head
df

                          Header
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

## 2. Scraping IMDB's top rated 100 movies

In [6]:
page = requests.get('https://www.imdb.com/list/ls091520106/')
page

In [7]:
soup = bs(page.text,'html.parser')
#soup

In [8]:
names = []
for i in soup.find_all('h3', class_ = 'lister-item-header'):
    names.append(i.find('a').text)
#names

In [9]:
ratings = []
for i in soup.find_all('div',class_ = 'ipl-rating-widget'):
    ratings.append(i.find('span',class_ = 'ipl-rating-star__rating').text)
#ratings

In [10]:
year = []
for i in soup.find_all('span',class_ = 'lister-item-year text-muted unbold'):
    year.append(i.text)
#year

In [11]:
datF = pd.DataFrame({'Movie name':names,'Ratings out of 10':ratings,'Year of release':year})
datF

                             Movie name Ratings out of 10 Year of release
0              The Shawshank Redemption               9.3          (1994)
1                         The Godfather               9.2          (1972)
2                 The Godfather Part II                 9          (1974)
3                       The Dark Knight                 9          (2008)
4                          12 Angry Men                 9          (1957)
..                                  ...               ...             ...
95                   North by Northwest               8.3          (1959)
96                   A Clockwork Orange               8.3          (1971)
97                               Snatch               8.3          (2000)
98  Le fabuleux destin d'Amélie Poulain               8.3          (2001)
99                              The Kid               8.3          (1921)

[100 rows x 3 columns]

## 3. Scraping top 100 Indian Movies

In [12]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [13]:
soup = bs(page.content,'html.parser')
#soup

In [14]:
name = []
for i in soup.find_all('td',class_ = 'titleColumn'):
    name.append(i.find('a').text)
name = name[0:100]
#name

In [15]:
ratings = []
for i in soup.find_all('td',class_ = 'ratingColumn imdbRating'):
    ratings.append(i.find('strong').text)
ratings = ratings[0:100]
#ratings

In [16]:
year = []
for i in soup.find_all('span',class_ = 'secondaryInfo'):
    year.append(i.text)
year = year[0:100]
#year

In [17]:
dataF = pd.DataFrame({'Movie name':name,'Ratings':ratings,'Release year':year})
dataF

                     Movie name Ratings Release year
0                      Jai Bhim     8.4       (2021)
1                    Anbe Sivam     8.4       (2003)
2                       Golmaal     8.4       (1979)
3                       Nayakan     8.4       (1987)
4             Pariyerum Perumal     8.4       (2018)
..                          ...     ...          ...
95                       Baasha     8.0       (1995)
96                       Masaan     8.0       (2015)
97                      Kahaani     8.0       (2012)
98  Baahubali 2: The Conclusion     8.0       (2017)
99               Dil Chahta Hai     8.0       (2001)

[100 rows x 3 columns]

## 4. Scraping of President names

In [18]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [19]:
soup = bs(page.content,'html.parser')
#soup

In [20]:
name = []
for i in soup.find_all('div', class_ = 'presidentListing'):
    name.append(i.find('h3').text.split("(")[0])
#name

In [21]:
term = []
for i in soup.find_all('div', class_ = 'presidentListing'):
    term.append(i.find('p').text.split("Term of Office:")[1])
#term

In [22]:
df = pd.DataFrame()
df['Name'] = name
df['Term of office'] = term
df

,Name,Term of office
0,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5. Scraping cricket rankings
### (a) Top 10 ODI Teams

In [23]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [24]:
soup = bs(page.content, 'html.parser')
#soup

#### matches, points and rating for New Zealand

In [25]:
nz = []
for i in soup.find('tr',class_="rankings-block__banner"):
    nz.append(i.text.split())
nz = list(filter(None,nz))
nz

[['1'], ['New', 'Zealand', 'NZ'], ['12'], ['1,505'], ['125']]

#### matches, points and rating for other teams

In [27]:
matches = []
for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.find('td', class_="table-body__cell u-center-text").text)
#matches

teams_all = []
for i in soup.find_all('tr',class_="table-body"):
    teams_all.append(i.text.split())
#teams_all

team = []
for i in teams_all[::]:
    team.append(i)
team = team[:9]
#team

# 7. News details

In [28]:
page = requests.get("https://www.cnbc.com/world/?region=world")
page

In [30]:
soup = bs(page.content,'html.parser')
#soup

In [50]:
headline = []
for i in soup.find_all('a',class_ = "LatestNews-headline"):
    headline.append(i.text)
#headline

time = []
for i in soup.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)
#time

In [53]:
df = pd.DataFrame()
df['Headline'] = headline
df['Time'] = time
df

                                             Headline         Time
0   Netflix lays off 300 more employees as revenue...   19 Min Ago
1   GOP draft bill would tighten rules for finance...   24 Min Ago
2   Santoli: The S&P 500’s bounce is set to face a...   40 Min Ago
3   Stocks making the biggest moves midday: WeWork...   44 Min Ago
4   We're trimming a winner to raise some cash and...   49 Min Ago
5           Intel warns Ohio factory could be delayed   52 Min Ago
6   First half ranks among the market’s worst on r...   1 Hour Ago
7   What we can learn about inflation, consumers f...   1 Hour Ago
8   How to save money at the pump, with or without...   1 Hour Ago
9   Instagram is testing new ways for teens to ver...  2 Hours Ago
10  Proposed changes to retirement system get appr...  2 Hours Ago
11  High inflation has 58% feeling insecure about ...  2 Hours Ago
12  Supreme Court strikes down NY gun law restrict...  3 Hours Ago
13  FDA bans Juul e-cigarettes as government pursu...  3 Hours Ago
14  Tax return backlog is still 'crushing the IRS’...  3 Hours Ago
15  Education Department to cancel student loan de...  3 Hours Ago
16  Watch Jerome Powell testify to Congress on the...  3 Hours Ago
17  Jan. 6 hearing to spotlight Trump's pressure o...  3 Hours Ago
18  Warren Buffett buys another $500 million of Oc...  3 Hours Ago
19  A 30-year Wall Street veteran on his tips for ...  3 Hours Ago
20  Chinese EV maker Nio says a car fell from thir...  4 Hours Ago
21  JPMorgan sees no recession, 28% S&P 500 comeba...  4 Hours Ago
22  Chipotle restaurant in Maine becomes chain's f...  4 Hours Ago
23  JPMorgan upgrades Funko, says toy stock has up...  4 Hours Ago
24  What Cramer is watching Thursday — Meta's big ...  4 Hours Ago
25  What Biden's upcoming student loan forgiveness...  4 Hours Ago
26  Bethenny Frankel's top spending advice: 'It ha...  4 Hours Ago
27  Forget Silicon Valley—these 10 small towns are...  4 Hours Ago
28  4 side hustles for recent college graduates: O...  4 Hours Ago
29  United Airlines will cut 12% of Newark flights...  5 Hours Ago

# 8. Most downloaded articles

In [54]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [56]:
soup = bs(page.content,'html.parser')
#soup

In [76]:
title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
#title

authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)
#authors

date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)
#date

# I can't find the right tag for url

In [77]:
df = pd.DataFrame()
df['Paper title'] = title
df['Authors'] = authors
df['Published date'] = title
df

,Paper title,Authors,Published date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",Reward is enough
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",Making sense of raw input
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",Law and logic: A review from an argumentation ...
3,Creativity and artificial intelligence,"Boden, Margaret A.",Creativity and artificial intelligence
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",Artificial cognition for social human–robot in...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",Explanation in artificial intelligence: Insigh...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",Making sense of sensory input
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",Conflict-based search for optimal multi-agent ...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",Between MDPs and semi-MDPs: A framework for te...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",The Hanabi challenge: A new frontier for AI re...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",Evaluating XAI: A comparison of rule-based and...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",Argumentation in artificial intelligence
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",Algorithms for computing strategies in two-pla...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",Multiple object tracking: A literature review
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",Selection of relevant features and examples in...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",A survey of inverse reinforcement learning: Ch...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",Explaining individual predictions when feature...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",A review of possible effects of cognitive bias...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",Integrating social power into the decision-mak...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",“That's (not) the output I expected!” On the r...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",Explaining black-box classifiers using post-ho...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",Algorithm runtime prediction: Methods & evalua...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",Wrappers for feature subset selection
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",Commonsense visual sensemaking for autonomous ...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng","Quantum computation, quantum theory and AI"

# 9. Restaurant details

In [78]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [80]:
soup = bs(page.content,'html.parser')
#soup

In [101]:
name = []
for i in soup.find_all('div',class_="restnt-info cursor"):
    name.append(i.find('a').text)
#name

cuisine = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.find('a').text)
#cuisine

location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
#location

ratings = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
#ratings

In [102]:
df = pd.DataFrame()
df["Restaurant name"] = name
df['Cuisine'] = cuisine
df['Location'] = location
df['Ratings'] = ratings
df

,Restaurant name,Cuisine,Location,Ratings
0,Castle Barbeque,North Indian,"Connaught Place, Central Delhi",3.5
1,Jungle Jamboree,North Indian,"3CS Mall,Lajpat Nagar - 3, South Delhi",3.9
2,Castle Barbeque,Chinese,"Pacific Mall,Tagore Garden, West Delhi",3.9
3,Cafe Knosh,Italian,"The Leela Ambience Convention Hotel,Shahdara, ...",4.3
4,The Barbeque Company,North Indian,"Gardens Galleria,Sector 38A, Noida",4
5,India Grill,North Indian,"Hilton Garden Inn,Saket, South Delhi",3.9
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8
8,World Cafe,North Indian,"Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3
9,Indian Grill Room,North Indian,"Suncity Business Tower,Golf Course Road, Gurgaon",4.3
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6
11,Barbeque 29,North Indian,"NIT, Faridabad",4.2
12,Glasshouse,European,"DoubleTree By Hilton Gurugram Baani Square,Sec...",4

# 10. Top publications from Google Scholar

In [103]:
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page

In [105]:
soup = bs(page.content,'html.parser')
#soup

In [117]:
rank = []
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
#rank

publication = []
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)
#publication

In [118]:
df = pd.DataFrame()
df["Rank"] = rank
df["Publication"]  = publication
df

    Rank                                        Publication
0     1.                                             Nature
1     2.                The New England Journal of Medicine
2     3.                                            Science
3     4.  IEEE/CVF Conference on Computer Vision and Pat...
4     5.                                         The Lancet
..   ...                                                ...
95   96.                            Frontiers in Immunology
96   97.                                              Small
97   98.                                  Nature Immunology
98   99.                                      JAMA Oncology
99  100.                               The Lancet Neurology

[100 rows x 2 columns]